<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Используем encoder для форматирования логов в JSON -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>10.7.0.5:50000</destination>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <logLevel />
                <threadName />
                <loggerName />
                <message />
                <logstashMarkers />
                <stackTrace />
                <mdc />
            </providers>
        </encoder>
    </appender>

    <!-- Логи будут также писаться в консоль -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOGSTASH" />
    </root>
</configuration>
